<% provide(:title, "Get in Contact") %>

<div class="container-fluid center">
    <h1>Contact</h1>
  
      <div class="row-fluid">
        <div class="span2">
          Sidebar content
        </div>
        <div class="span10">
          Body content
           <p>Find me in app/views/static_pages/contact.html.erb</p>
              <p>the form will go here </p>
        </div>
      </div>
</div>
