<% provide(:title, "Help") %>
<div class = "container-fluid">
    <h1>Help</h1>
    <p>
      To see this page deployed in Heroku go to <a href= "https://tranquil-hollows-9377.herokuapp.com"><span class="myRegLink">here!</span></a><br>
      Get help on the Ruby on Rails Tutorial at the
      <a href="http://www.railstutorial.org/#help"><span class="myRegLink">Rails Tutorial help section</span></a>.<br>
      To get help on this sample app, see the
      <a href="http://www.railstutorial.org/book"><span class="myRegLink">Ruby on Rails Tutorial </span></a>book.
    </p>
</div>
