<% provide(:title, 'All users') %>

<h1>All Users</h1>

<%= will_paginate %>

<ul class="users">
   <%= render @users.order(:name) %>
  <%#= render @users %>
  <!-- line above acheives the same as the 3 below -->
  <%# @users.each do |user| %>
    <%#= render user %>
  <%# end %>
</ul>

<%= will_paginate %>