<footer class="footer">
  <small>
    Created by <a href="https://ie.linkedin.com/in/emerthornbury" class ="myRegLink">E Thornbury.</a>
  
      <ul>
        <li><%= link_to "Help",   help_path %></li>
        <li><%= link_to "Contact", contact_path %></li>
        <li><%= link_to "Sign out", signout_path, method: "delete" %></li>
       <li><a href="https://www.google.ie" target=_blank>Google</a></li>
      </ul>
  
  </small>
</footer>
